.container {
  display: flex;
}



img {
  height: 30em;
  width: 20em;
}

.blue {
  background-color: lightblue;
}

.yellow {
  background-color: lightyellow;
}

.card {
  border: 2px solid slategray;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.dottedBorder {
  border: 2px dotted red;
}

