.container {
  display: flex;
}

#person {
  border: 2px solid slategray;
  display: flex;
  align-items: center;
}

#person img {
  height: 30em;
  width: 20em;
}

#blue {
  background-color: lightblue;
}

#yellow {
  background-color: lightyellow;
}

